.manager_navigate{
    width: 22%;
    display: block;
    padding: 10px;
    padding-top: 15px;
    height: 92vh;
    overflow-y: scroll;
    background-color: whitesmoke;
}.manager_navi_heading{
    font-family: 'Sigmar One', cursive;
    padding: 17px;
}
.head_serve_man{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    padding:14px;
    padding-left: 17px;
}.particular_month_main{
    /* text-align: center; */
    font-family: 'Source Sans Pro', sans-serif;
}.particular_month_head{
    margin-bottom: 10px;
    background-color: bisque;
    display: flex;
    padding: 10px;
    padding-left: 25px;
    font-size: large;
    cursor: pointer;
    flex-direction: row;
}.parti_his_main{
    margin-top: 20px;
    margin-left: 200px;
    align-content: center;
    text-align: center;
}