.header_service{
    background-color: beige;
    height: 8vh;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}.comp_logo{
    width: 30%;
    padding-left: 15px;
    justify-content: left;
}.header_heading{
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
    width:40%;
    text-align: center;
    justify-content: center;
}.header_profile{
    /* display: flex; */
    width: 30%;
    padding-right: 15px;
    text-align: right;
    
}.service_profile_main{
    padding: 20px;
    align-items: center;
    text-align: center;
}.servicepro_main{
    display: flex;
    flex-direction: row;
}.service_navigate{
    width: 22%;
    display: block;
    padding: 10px;
    height: 92vh;
    overflow-y: scroll;
}.service_right_main{
    width: 78%;
    padding: 10px;
    height: 92vh;
    overflow-y: scroll;
}