.header_service{
    background-color: beige;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}.comp_logo{
    width: 30%;
    padding-left: 15px;
    justify-content: left;
}.header_heading{
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
    width:40%;
    text-align: center;
    justify-content: center;
}.header_profile{
    /* display: flex; */
    width: 30%;
    padding-right: 15px;
    text-align: right;
    
}.service_profile_main{
    padding: 20px;
    align-items: center;
    text-align: center;
}